/* Import google font - Roboto 400 */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.8px;
}
